**

!supabase/
!supabase/docker/
!supabase/docker/fernwaerts/
!supabase/docker/fernwaerts/**
!supabase/docker/fernwaerts-postgres/
!supabase/docker/fernwaerts-postgres/**
!supabase/docker/vendor/
!supabase/docker/vendor/db/
!supabase/docker/vendor/db/**
!supabase/functions/
!supabase/functions/**
!supabase/migrations/
!supabase/migrations/**
!supabase/schemas/
!supabase/schemas/**
!supabase/migration_config.toml
!supabase/powersync/
!supabase/powersync/config/
!supabase/powersync/config/**
